@model BudgetExpenditure.Models.DepartmentReportViewModel


@{
    ViewBag.Title = "DepartmentReport";
}

<h2>DepartmentHeadWiseReport</h2>

<div style="align-content:center">
    @{

        string[] xValues = new string[] { "Estimated budget", "Q1 Expenses", "Till Q2 Expenses", "Till Q3 Expenses", "Till Q4 Expenses" };

        decimal[] yValues = new decimal[] { Model.EstimatedBudget , Model.ExpenditureQ1,
                                            Model.ExpenditureQ2, Model.ExpenditureQ3,
                                            Model.ExpenditureQ4};


        
        var chart = new Chart(width: 1000, height: 1000, theme: ChartTheme.Yellow);


        chart.AddTitle("Departmental Expenses Report")
        .AddSeries(
         chartType: "column",
         xValue: new[] { "Estimated budget", "Q1 Expenses", "Till Q2 Expenses", "Till Q3 Expenses", "Till Q4 Expenses" },
    yValues: new[] { yValues }

        ).Write();

    }

</div>

@*<table class="table-bordered" cellpadding="8">

    <tr>
        <th width="30%">Budget Head</th>
        <th width="10%">Estimated Amount Per year</th>

        <th width="10%">Expenditure Q1</th>
        <th width="10%">Expenditure Q2</th>
        <th width="10%">Expenditure Q3</th>
        <th width="10%">Expenditure Q4</th>


        <th width="10%">Total Expenditure Till Now</th>
        <th width="10%">Balance Amount Left</th>
    </tr>

    @foreach (var result in Model)
    {
    <tr>
        <td>
            @result.Head
        </td>
        <td>
            @result.EstimatedBudget
        </td>
       
        <td>
            @result.ExpenditureQ1
        </td>
        <td>
            @result.ExpenditureQ2
        </td>
        <td>
            @result.ExpenditureQ3
        </td>
        <td>
            @result.ExpenditureQ4
        </td>
        <td>
            @result.ActualExpenditureTillQuarter
        </td>
        <td>

            @result.BalanceLeftTillQuarter
        </td>
    </tr>
    }

</table>*@