@model List<BudgetExpenditure.Models.DepartmentReportViewModel>


@{
    ViewBag.Title = "DepartmentReport";
}

<h2>DepartmentHeadWiseReport</h2>


@{

    
    decimal[] yValues = new decimal[] { Model.FirstOrDefault().EstimatedBudget , Model.FirstOrDefault().ExpenditureQ1,
                                                Model.FirstOrDefault().ExpenditureQ2, Model.FirstOrDefault().ExpenditureQ3,
                                                Model.FirstOrDefault().ExpenditureQ4};


    //decimal[] yValues = new decimal[] { 50000 , 4000,
    //                                    5000, 9000,
    //                                    10000};


    var chart = new Chart(width: 1000, height: 1000, theme: ChartTheme.Yellow);
    

    chart.AddTitle("All Departmentas Expenses Report")
    .AddSeries(
     chartType: "column",
     xValue: new[] { "Estimated Budget", "Q1 Expenses", "Q2 Expenses", "Q3 Expenses", "Q4 Expenses" },
yValues: new[] { yValues }

    ).Write();

}

@*<table class="table-bordered" cellpadding="8">

        <tr>
            <th width="30%">Budget Head</th>
            <th width="10%">Estimated Amount Per year</th>

            <th width="10%">Expenditure Q1</th>
            <th width="10%">Expenditure Q2</th>
            <th width="10%">Expenditure Q3</th>
            <th width="10%">Expenditure Q4</th>


            <th width="10%">Total Expenditure Till Now</th>
            <th width="10%">Balance Amount Left</th>
        </tr>

        @foreach (var result in Model)
        {
        <tr>
            <td>
                @result.Head
            </td>
            <td>
                @result.EstimatedBudget
            </td>

            <td>
                @result.ExpenditureQ1
            </td>
            <td>
                @result.ExpenditureQ2
            </td>
            <td>
                @result.ExpenditureQ3
            </td>
            <td>
                @result.ExpenditureQ4
            </td>
            <td>
                @result.ActualExpenditureTillQuarter
            </td>
            <td>

                @result.BalanceLeftTillQuarter
            </td>
        </tr>
        }

    </table>*@