@model BudgetExpenditure.ViewModels.HeadEntry

@{
    /**/

    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <hr /><h2>Estimated Budget</h2><hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Year, "Select Year", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Year, Model.Years1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Department, "Select Department", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CurrentDepartmentId, Model.Departments, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
        </div>
    </div>

    
</div>

    <table class="table-bordered" cellpadding="8">
        <tr>
            <th width="10%">Sr No</th>
            <th width="55%">Head Name</th>
            <th width="35%">Amount</th>
        </tr>
        <tr>
            <td><b><u>A</u></b></td>
            <td><b><u>Personnel</u></b></td>
            <td align="center">
                @Html.EditorFor(model => model.Personell, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Personell, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><b><u>B</u></b></td>
            <td><b><u>Maintenance Cost</u></b></td>
            <td></td>
        </tr>
        <tr>
            <td align="center"><b>1</b></td>
            <td>Building Maintenance</td>
            <td align="center">
                @Html.EditorFor(model => model.BuildingMaintenance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BuildingMaintenance, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>2</b></td>
            <td>Electricity Expenses</td>
            <td align="center">
                @Html.EditorFor(model => model.ElectricityExpenses, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ElectricityExpenses, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>3</b></td>
            <td>Water, Security, Fence, Common Utilities, Landscape Maintenance</td>
            <td align="center">
                @Html.EditorFor(model => model.CommonUtilities, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CommonUtilities, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>4</b></td>
            <td>AMC & CMC Cost for Assets as per Actual Cost</td>
            <td align="center">
                @Html.EditorFor(model => model.AMCCMC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AMCCMC, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>5</b></td>
            <td>Maintenance Rent for Assets (Furniture, Equipments, IT, Other) 24% of Purchase Value for One Year</td>
            <td align="center">
                @Html.EditorFor(model => model.MaintenanceRent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaintenanceRent, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><b><u>C</u></b></td>
            <td><b><u>Program Cost</u></b></td>
            <td></td>
        </tr>
        <tr>
            <td align="center"><b>a</b></td>
            <td>Consumables</td>
            <td></td>
        </tr>
        <tr>
            <td align="right"><b>1</b></td>
            <td>Consumables</td>
            <td align="center">
                @Html.EditorFor(model => model.Consumables, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Consumables, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="right"><b>2</b></td>
            <td>Stationary (Regular & IT)</td>
            <td align="center">
                @Html.EditorFor(model => model.Stationary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stationary, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="right"><b>3</b></td>
            <td>Medicines and Supplies</td>
            <td align="center">
                @Html.EditorFor(model => model.MedicinesSupplies, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicinesSupplies, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="right"><b>4</b></td>
            <td>Diagnostics</td>
            <td align="center">
                @Html.EditorFor(model => model.Diagnostics, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diagnostics, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>b</b></td>
            <td>Transport</td>
            <td align="center">
                @Html.EditorFor(model => model.Transport, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transport, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>c</b></td>
            <td>Lodging and Boarding</td>
            <td align="center">
                @Html.EditorFor(model => model.LodgingBoarding, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LodgingBoarding, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>d</b></td>
            <td>Remuneration of Community Health Workers</td>
            <td align="center">
                @Html.EditorFor(model => model.RemunerationCHW, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RemunerationCHW, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>e</b></td>
            <td>Capacity Building through Training Programs, Workshops, Exposure Visits</td>
            <td align="center">
                @Html.EditorFor(model => model.CapacityBuilding, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CapacityBuilding, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>f</b></td>
            <td>Communication, Publication, Health Literacy & Documentation</td>
            <td align="center">
                @Html.EditorFor(model => model.Communication, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Communication, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>g</b></td>
            <td>Postage, Telecommunication, Broadband for Teleconsultation & Teletraining and IT</td>
            <td align="center">
                @Html.EditorFor(model => model.Postage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Postage, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>h</b></td>
            <td>Labour Cost for Events (Surgery Camp, Jatra etc)</td>
            <td align="center">
                @Html.EditorFor(model => model.LabourCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LabourCost, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="center"><b>i</b></td>
            <td>Fees/Consultancy for Other Services (Inhouse/Outsourced)</td>
            <td align="center">
                @Html.EditorFor(model => model.FeesConsultancy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FeesConsultancy, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="left"><b><u>D</u></b></td>
            <td><b><u>Capital cost: SUB TOTAL</u></b></td>
            <td align="center">
                @Html.EditorFor(model => model.CapitalCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CapitalCost, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="left"><b><u>E</u></b></td>
            <td><b><u>Total Expenditure (A + B + C + D)</u></b></td>
            <td align="center">
                @Html.EditorFor(model => model.TotalExpenditure, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalExpenditure, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="left"><b><u>F</u></b></td>
            <td><b><u>Organiztional Administrative overheads including Legal / Statuatory Aporovals & Processes</u></b>(Office Space and Equipments Rent, Communication, Salaries of Administrative Staff, Account Keeping, Audits, Bank Charges, Publicity, Public Relations, Guests, Travel, Local Transport, Office Stationary, Administrative Meetings)<br />7.5% of Total Expenditure E</td>
            <td align="center">
                @Html.EditorFor(model => model.AdministrativeOverheads, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdministrativeOverheads, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="left"><b><u>G</u></b></td>
            <td><b><u>Contingency Fund</u></b><br />2% of Total Expenditure E</td>
            <td align="center">
                @Html.EditorFor(model => model.ContingencyFund, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContingencyFund, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="left"><b><u>H</u></b></td>
            <td><b><u>Grand Total Expenditure (E + F + G)</u></b></td>
            <td align="center">
                @Html.EditorFor(model => model.GrandTotalExpenditure, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GrandTotalExpenditure, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="left"><b><u>I</u></b></td>
            <td><b><u>Income of the Program</u></b></td>
            <td align="center">
                @Html.EditorFor(model => model.IncomeOftheProgram, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncomeOftheProgram, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td align="left"><b><u>J</u></b></td>
            <td><b><u>Total Budgetary Requirement (H-I)</u></b></td>
            <td align="center">
                @Html.EditorFor(model => model.TotalBudgetaryRequirement, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalBudgetaryRequirement, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}
