@model BudgetExpenditure.ViewModels.HeadEntry

@{
                /**/

                ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Estimated Budget</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="form-group">
            <tr>
                <td>
                    @Html.Label("AB ", htmlAttributes: new { @class = "control-label col-md-1" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-4" })
                </td>
                <td>
                    @Html.DropDownListFor(model => model.Year, Model.Years1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </td>
            </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.CapacityBuilding)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBox("Capacity")
                            @Html.ValidationMessageFor(m => m.CapacityBuilding)
                        </div>
                    </td>
                </tr>
            </table>
            <div class="editor-label">
                @Html.LabelFor(m => m.CommonUtilities)
            </div>
            <p>
                <input type="submit" value="Log On" />
            </p>
</div>
      
    @*<div class="form-horizontal">
            <h4>Estimated Budget</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label(" ", htmlAttributes: new { @class = "control-label col-md-1" })
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.DropDownListFor(model => model.Year, Model.Years1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(" ", htmlAttributes: new { @class = "control-label col-md-1" })
                @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.DropDownListFor(model => model.CurrentDepartmentId, Model.Departments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("A", htmlAttributes: new { @class = "control-label col-md-1" })
                @Html.LabelFor(model => model.Personell,"Personell", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Personell, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Personell, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class=" form-group">

                @Html.Label("B", htmlAttributes: new { @class = "control-label col-md-1"})
                @Html.Label("Maintainance Cost", htmlAttributes: new { @class = "control-label col-md-11" })
            </div>


            <div class="form-group">
                @Html.Label("Sr No", htmlAttributes: new { @class = "control-label col-md-1" })
                @Html.LabelFor(model => model.AdministrativeOverheads, "Administrative Overheads", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.AdministrativeOverheads, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdministrativeOverheads, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("A", htmlAttributes: new { @class = "control-label col-md-1" })
                @Html.LabelFor(model => model.AMCCMC, "AMC CMC", htmlAttributes: new { @class = "control-label col-md-4 text-left" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.AMCCMC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AMCCMC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BuildingMaintenance, "Building Maintainance", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BuildingMaintenance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BuildingMaintenance, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CapacityBuilding, "Capacity Building", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CapacityBuilding, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CapacityBuilding, "", new { @class = "text-danger" })
                </div>
            </div>   <div class="form-group">
                @Html.LabelFor(model => model.CapitalCost, "Capital Cost", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CapitalCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CapitalCost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CommonUtilities, "Common Utilities", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CommonUtilities, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CommonUtilities, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Communication, "Communication", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Communication, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Communication, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Consumables, "Consumables", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Consumables, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Consumables, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContingencyFund, "Contingency Fund", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContingencyFund, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContingencyFund, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Diagnostics, "Diagnostics", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Diagnostics, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Diagnostics, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ElectricityExpenses, "Electicity Expenses", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ElectricityExpenses, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ElectricityExpenses, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FeesConsultancy, "Fees Consultancy", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FeesConsultancy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FeesConsultancy, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@

}
